body, html{
    height: 100%;
    margin: 0px;
}
body{
    background-color: skyblue;
    
}

    

    

nav li{
    display: inline;
    margin: 20px;
}
nav ul{
    background-color: black;
    margin: 0;
    list-style-type:none;
    width:100%;
    padding: 20px;
}

nav{
    display: block;
    color:white;

}
nav a{
    color:gray;
    text-decoration:none;

    
}
nav a:hover{
    color:white
}
.levi-image{
    background-image:linear-gradient(rgba(220,0,0,0.1),rgba(220,0,0,.1)),url("../images/justbeach.jpg");
    height:50%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    border: 15px solid goldenrod;

    
}
.levi-text{
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-style:arial italic;
    
    
}
#main{
    width: 45%;
    float: left;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
    


}
main img{
    border-radius: 25px;
    border: 10px solid black;
}
#side{
    width: 45%;
    float: right;
    height: 100%;
    padding: 5px;
    padding-top: 15px;
}

#profile-image{
    width: 100px;
    border-radius: 25%;
    border: 5px solid black ;
}
#profile{
    text-align: center;

}
#profile ul{
    list-style-type: none;
    padding-left: 0px;

}
#profile h2{
    display: inline;

}
#profile-details{
    margin-right: 30px;
    text-align:center;
}
.side-articles, .main-articles{
    padding: 10px;
    margin-bottom:10px ;
    border-radius: 15px;
    
}
.side-articles{
    background-color: darkgrey;
    text-align: center;


}
.main-articles{
    background-color: lightgrey;
    text-align: center;

}

form{
    margin-top: 20px;

}
textarea, input{
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;

}
.side-articles h1{
    margin-bottom: 20px;

}
footer{
     width: 100%;
     background-color: grey;
     height: 5vh;
     margin-top: 0px;
}
footer div{
    text-align: center;
    color: white;

}
main{
    overflow: auto;
}
footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0 12px 12px -12px black;
}

#facts{
    margin: 0;
    list-style-type: none;
    font-size:25px;
    
}
    
    
    
